* {
  font-size: 26;
}

window {
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
}

#input {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(255, 255, 255, 1);
  padding: 10px;
  outline: none;
}

#entry {
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.6);
  margin: 10px;
}

#entry:selected {
  background-color: rgba(255, 255, 255, 0.3);
}
